body{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: aliceblue;
}
.score{
    padding:20px;
    text-align: center;
    margin: 10px;
    background-color: bisque;
}
#everyButton{ 
    justify-content: center;
    display: flex;
}
button{
    padding:10px;
    margin: 30px;
    background-color: antiquewhite;
}
.playerAndComputerSelections{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
}